@import "tailwindcss";
 

@theme {

  --color-purple-300: #bfe6f8;
--color-purple-500: #47bde9;
  --color-purple-600: #1392c9;
  
  --color-gray-100: "#eeeeef";
  --color-gray-200: "#e6e9ed";
  --color-gray-600: "#95989c";

}
